.container-about-me {
  width: 90%;
  max-width: 700px;
  color: darkslategray;
  margin: 0 auto;
}

#first-paragraph {
  margin-top: 60px;
}

.back {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  padding: 24px;
  margin-left: 12px;
}
