.container {
  margin-top: 28px;
}

.col-8 {
  background-image: url("../../images/IMG_0141.JPG");
  background-size: contain;
}

.col-4 {
  color: darkslategray;
  background-color: #ffd3b6;
  height: 650px;
}

.circular--square {
  border-radius: 50%;
  max-width: 200px;
  margin-top: 48px;
}

.logo {
  max-width: 30px;
}

.email {
  color: darkslategray;
  font-style: normal;
}

.link {
  color: darkslategray;
  font-style: normal;
}

.link:hover {
  color: darkslategray;
}

.resume:hover {
  cursor: pointer;
  text-decoration: underline;
}
