.body {
  margin: 0;
}

.container-profile {
  margin: 32px auto;
  width: 100%;
}

.profile-background {
  background-image: url("../../images/IMG_0141.JPG");
  background-size: 100%;
}

.profile {
  color: darkslategray;
  background-color: #ffd3b6;
  height: 650px;
}

.circular--square {
  border-radius: 50%;
  max-width: 200px;
  margin-top: 48px;
}

.logo {
  max-width: 30px;
}

.email {
  color: darkslategray;
  font-style: normal;
}

.link {
  color: darkslategray;
  font-style: normal;
}

.link:hover,
link:focus {
  color: grey;
}

.resume:hover,
.resume:focus {
  cursor: pointer;
  text-decoration: underline;
  color: grey;
}
