.plant-header {
  width: 100%;
  object-fit: contain;
}

.title {
  text-align: center;
  font-size: large;
}

#project-card {
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 2rem;
  }
}
